/*MOBIL-LÄGE*/
@media (max-width: 600px) {

  /*Nollställer marginal i main*/
  main {
    margin: 0;
  }

  /*marginal för huvudrubrik*/
  h1 {
    margin-left: 1rem;
  }

  footer {
    padding-left: 1rem;
  }

  /*/// HEADER //////*/
  .bannerbild {
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .headertop {
    margin-bottom: 1rem;
  }


  .search2 {
    display: block;
    margin-right: 0.6rem;
  }

  .search {
    display: none;
  }

  .headphones p {
    margin-top: 0.2rem;
  }

  .sprak p {
    margin-top: 0.4rem;
  }

  /*///// Navigationsmeny /////*/

  /* Visa hamburger */
  .hamburger {
    display: block;
  }


  /*Position för underlänkar till menyn*/
  nav ul li ul {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding-left: 1rem;
  }

  /*Padding för underlänkar i meny*/
  nav ul li ul li a {
    padding: 0.75rem 1rem;

  }


  /* Visa dropdown vid hover */
  nav ul li:hover ul {
    display: block;
    background-color: transparent;
  }

  /*Däljer logga ut-knappen på default*/
  .logout {
    margin-top: 0.5rem;
    display: none;
  }

  /*Visar även logga ut-knappen vid klick av hamburdermeny*/
  nav ul.show+.logout {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  /*/// SLUT PÅ NAVBAR ///*/

  /*BRADCRUMBS*/
  /*Styling och position för breadcrumbs*/
  .breadcrumbs ol {
    font-size: 0.7rem;
    margin-left: 0rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  /*Position för länkar i breadcrumbs*/
  .breadcrumbs a {
    margin-right: 1rem;
    padding: 0;
  }



  /*//////// WRAPPERS OCH POSITIONERING ////////////*/

  /*Wrapper för alla sidor utan bilder (Hela sidan)*/
  .wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1.5rem;
  }



  /*Wrapper för sidor med stora bilder (hela sidan)*/
  .wrapper3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }



  /*Wrapper för sektioner*/
  .wrapper2 {
    width: 100%;
    min-width: 0;
  }

  /*/// KNAPPAR ////*/
  /*Storlek för stora knappar*/
  .bigbutton {
    text-align: center;
    width: 100%;
  }

  /*Positionering för knappar*/
  .buttonwrapper {
    flex-direction: column;
  }

  /*Storlek för knappar i formulär*/
  .smallbutton {
    width: 100%;
  }

  /*Storlek för knappar i formulär (avbok)*/
  .smallbutton2 {
    width: 100%;
  }

  /*//// BILDER /////*/

  /*Storlek för bilder i mobile*/
  .sideimagemobile {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  /*/// INFORUTOR //*/

  /*Kant runt Mina bokade resor*/
  .border1 {
    width: 95%;
    margin-left: 1rem;
  }

  /*Kant runt mina återkommande resor*/
  .border2 {
    width: 95%;
    margin-left: 1rem;
  }

  /*FORMULÄR*/

  /*Bredd för formulär*/
  form {
    width: 100%;
    padding: 1rem;
  }

  .loginform {
    min-width: 50px;
    width: 100%;

  }

  .contactform2 {
    max-height: 550px;
  }

  /*Bredd för knappar i formulär*/
  .formgroup {
    width: 100%;
  }

  /*Position för knappar i formulär*/
  .formbuttons {
    flex-direction: column;
    gap: 1rem;
  }

}